$topbar-link-color: #000;
$dropdownmenu-arrows: false;
$global-font-size: 95%;
$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Righteous';
$primary-color: rgb(89,101,149);
$body-background: #eee;