/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
 
::-webkit-scrollbar-thumb:vertical {
  
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

.mce-panel{
	margin-bottom:1em !important;
}
.chapterContent{
	margin-top: 3em;
}

.profile-username{
	color: rgba(89,101,149, 0.5);
}

.like-counter{
	font-family: 'Righteous';
	color: rgb(89,101,149);
}
.comment-counter{
	font-family: 'Righteous';
	color: rgb(89,101,149);
}


.heart-icon{
	stroke:black;

}

.liked{
	fill:#e74c3c;
}
.not-liked{
	fill:#bdc3c7;
}


.hero{
	width:100%;
	background-color: #38D6C7;
	margin-bottom:1em;
}
.author a{
	color:#7f8c8d;
}

ul.topMenu{
	text-align: center;
}

.topMenu li{
	display: inline;
}

#counter, #counter2{
	text-transform: uppercase;
	font-size: 0.8em;

}
.comment-content{
	border:rgba(89,101,149,0.5) dashed;
	padding:0.5em;
	margin-bottom:0.5em;
}
.tip{
	color: #f1c40f;
}

.settings{
	margin-bottom:0.5em;
}
.settings a.button{
	font-family: 'Righteous';
	color:#d35400;
	border-color:#d35400;
}
.top-bar{
	text-transform: uppercase;
	font-size: 90%;
}

.title{
	color: #fff;


}
.desc{
	color: #fff;
}


.header{
	background-color:black;
	width:100%;
}

.menu-text{
	font-size:2em;
}

.signin{
	margin:0.5em;
}
.has-tip{
	cursor:auto !important;
	border: none !important;
}
.story{
	border-radius: 1em;
	border: 1px solid rgb(89,101,149);
	margin-bottom: 0.5em;
	padding:0.5em;
	background-color:white;
}
.alertDate{
	color:#95a5a6;
	text-transform: lowercase;
}
.alerts{
	position:relative;
}
.new-alert-icon{
	fill:#e67e22;
}
.alert-bubble{
	position:absolute;
 	padding:0.4em;
 	right:0.9em;
 	top:0.4em;
    background-color:#e74c3c;
    color:white;
    font-weight:bold;
    font-size:0.7em;
    border-radius:50%;
  
}
#comment-textarea{
	border-radius:1em;
}

.comment-icon{
	fill: #38D6C7;
}
.comment-icon-container{

}

.comment-bubble{

 	padding-right:0.4em;
 	padding-left: 0.4em;
 	margin-right:0.5em;
 	margin-left:-0.9em;
    background-color:#7f8c8d;
    color:white;
    font-weight:bold;
    font-size:0.7em;
    border-radius:20%;
}

.update-icon{
	fill:rgb(89,101,149);
}
.nav-icon{
	fill: rgba(89,101,149, 1);
}

.nav-icon:hover{
	fill: rgba(89,101,149, 0.7);
}

.highlighted{
	border-radius: 1em;
	border: 1px solid #bdc3c7;
	margin-bottom: 0.5em;
	padding:0.2em;
}

.stats{
	text-transform:uppercase;
	font-size: 0.75em;
}

.stats-label{
	color:#d35400;
	font-weight: bold;
}

.note b{
	text-transform: uppercase;
	font-style: normal;
}
.note{
	font-size: 0.85em;
	color: rgba(89,101,149, 1);
	padding:0.25em;
	border-radius:0.5em;
	border-style: dotted;
	border-color: rgba(89,101,149, 0.5);
	margin-bottom:1em;


}

.unselected-star{
	fill:#bdc3c7;
}

.selected-star{
	fill:#f1c40f;
}


